#root {
	/*max-width: 1280px;*/
	margin: 0;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

.gameBoard {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.cardsInPlay {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	flex: 1;
}

.cardsInHand {
	flex: 1;
}

.dealerArea {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 48px;
}

.buttonContainer {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 24px;
	margin-right: 24px;
}

.card:hover {
	transform: scale(1.05);
	border: 2px solid #646cff !important;
}

.read-the-docs {
	color: #888;
}
